body {
    font-family: "Raleway", sans-serif;
  }
  
  /* navbar */
  
  .navbar {
    background-color: #05A;
    font-family: 'PT Sans', sans-serif;
  }
  
  .navbar p{
    font-size: 25px;
    margin-bottom: 0px;
    font-weight: 700;
  }
  
  /* Hero Section */
  
  #Hero-Section {
    background-image: url("../img/bg-hero1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-position: top;
  }
  
  .bajada {
    font-size: 30px;
  }
  .header-button {
      border-width: 3px;
  }
  .header-button1 {
    border: #05A;
    background-color: #05A;
  }
  
  /* Mis trabajos */
  
  #Mis-trabajos .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }
  
  .mis_trabajos {
    background-color: #05A;
  }
  
  /* Contacto */
  
  #Contacto form label {
    font-weight: 700;
    color: #373a3c;
  }
  
  .footer {
    background-color: #05A;
  }
  
  .footer span{
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
  }
  
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }
  